/*可以在这里添加你自己的css*/
h1,h2,h3,h4,h5,h6{font-weight:400;font-size:16px}
*{margin:0;padding:0}
a{color:#607fa6;text-decoration:none}
html{line-height:1.6;overflow:hidden}
body{margin:0;padding:8px 90px;font-family:"Helvetica Neue",Helvetica,"Hiragino Sans GB","Microsoft YaHei",Arial,sans-serif}
.view{word-break:break-word;cursor:text;min-height:440px;word-wrap:break-word;-webkit-hyphens:auto;-ms-hyphens:auto;hyphens:auto;overflow:hidden}
p{clear:both}
img{max-width:100%;height:auto!important}
iframe{width:301px!important;border:0;background-color:none}
blockquote{margin:0;padding-left:10px;border-left:3px solid #dbdbdb}
.vote_area{display:block}
.vote_iframe{height:100%;width:100%!important}
.qqmusic_iframe{width:100%!important;height:75px}
.audio_iframe{width:100%!important;height:82px}
.video_iframe{background-color:#000;width:100%!important;position:static}
.shopcard_iframe{width:100%!important;height:95px;margin:14px 0}
.topic_iframe{width:100%!important;height:118px;margin:14px 0}
.weapp_app_iframe{height:330px;margin:14px 0}
.weapp_text_link{font-size:17px}
.weapp_text_link:before{content:'';display:inline-block;line-height:1;background-size:12px 12px;background-repeat:no-repeat;background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAcCAMAAABF0y+mAAAAb1BMVEUAAAB4it11h9x2h9x2h9x2htx8j+R8i+B1h9x2h9x3h92Snv91htt2h9x1h9x4h9x1h9x1h9x2idx1h9t2h9t1htt1h9x1h9x1htx2h9x1h912h9x4h913iN17juOOjuN1iNx2h9t4h958i+B1htvejBiPAAAAJHRSTlMALPLcxKcVEOXXUgXtspU498sx69DPu5+Yc2JeRDwbCYuIRiGBtoolAAAA3ElEQVQoz62S1xKDIBBFWYiFYImm2DWF///G7DJEROOb58U79zi4O8iOo8zuCRfV8EdFgbYE49qFQs8ksJInajOA1wWfYvLcGSueU/oUGBtPpti09uNS68KTMcrQ5jce4kmN/HKn9XVPAo702JEdx9hTUrWUqVrI3KwUmM1NhIWMKdwiGvpGMWZOAj1PZuzAxHwhVSplrajoseBnbyDHAwvrtvKKhdqTtFBkL8wO5ijcsS3G1JMNvQ5mdW7fc0x0+ZcnlJlZiflAomdEyFaM7qeK2JahEjy5ZyU7jC/q/Rz/DgqEuAAAAABJRU5ErkJggg==);vertical-align:middle;font-size:11px;color:#888;border-radius:10px;background-color:#f4f4f4;margin-right:6px;margin-top:-4px;background-position:center;height:20px;width:20px}
.cpc_iframe{width:100%!important;height:378px;margin:14px 0}
