/* 颜色弹出菜单 */
.edui-default .edui-colorpicker-topbar {
    padding-bottom: 10px;
    width: 228px;
}

.edui-default .edui-colorpicker-preview {
    margin-bottom: 5px;
    color: #8d8d8d;
}

.edui-default .edui-colorpicker-nocolor {
    margin-right: 1px;
    font-size: 12px;
    line-height: 14px;
    padding: 3px 5px;
    overflow: hidden;
}
.ue_colorpicker_nocolor_bg {
    background: url(../images/newicons.png) no-repeat;
    background-position: -1px -1071px;
}

.ue_colorpicker_square {
    float: left;
    width: 18px;
    height: 18px;
    margin: 0 4px 4px 0;
    border: 1px solid #e7e7eb;
    cursor: pointer;
}

.edui-default .edui-colorpicker-tablefirstrow {
    height: 30px;
}

.edui-default .edui-colorpicker-colorcell {
    width: 18px;
    height: 18px;
    display: block;
    margin: 0;
    cursor: pointer;
}

.edui-default .edui-colorpicker-advbtn{
    display: block;
    text-align: center;
    cursor: pointer;
    height:20px;
}
.arrow_down{
    background: white url('../images/arrow_down.png') no-repeat center;
}
.arrow_up{
    background: white url('../images/arrow_up.png') no-repeat center;
}
/* 中 */
.ue_colorpicker_group{
    margin-bottom: 12px;
}
.ue_colorpicker_group td{
    height: 24px;border:none;
}
/* 下 */
.ue_colorpicker_toolbar {
    overflow: hidden;
    border-top: 1px dotted #e7e7eb;
    padding-top: 15px;
}
.ue_colorpicker_toolbar .showColor{
    width: 26px;
    height: 26px;
    margin-right: 6px;
    background-color: #f00;
    float: left;
    margin: 0 4px 4px 0;
    border: 1px solid #e7e7eb;
    cursor: pointer;
}
.ue_colorpicker_toolbar .ue_colorpicker_input_box{
    float: left;
    overflow: hidden;
    display: block;
    border: 1px solid #e7e7eb;
    padding: 0 5px;
}
.ue_colorpicker_toolbar .ue_colorpicker_input_append{
  line-height: 26px;
  float: left;
  margin-right: 4px;
}
.ue_colorpicker_toolbar .customColor{
  width: 70px;
  background-color: transparent;
  border: 0;
  outline: 0;
  line-height: 24px;
  height: 24px;
}
.ue_colorpicker_toolbar .buttonColor{
  float: left;border-radius:0;
  margin-left: 6px;
  padding: 0 22px;
  height: 28px;
  line-height: 28px;
  text-decoration: none;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  font-size: 14px;
  cursor: pointer;
  border: 1px solid #e7e7eb;
  background-color: #fff;
  color: #222;'Microsoft YaHei
}
/*高级的样式*/
.edui-colorpicker-adv{
    position: relative;
    overflow: hidden;
    height: 180px;
    display: none;
}
.edui-colorpicker-plant, .edui-colorpicker-hue {
    border: solid 1px #666;
}
.edui-colorpicker-pad {
    width: 150px;
    height: 150px;
    left: 14px;
    top: 13px;
    position: absolute;
    background: red;
    overflow: hidden;
    cursor: crosshair;
}
.edui-colorpicker-cover{
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 150px;
    background: url("../images/tangram-colorpicker.png") -160px -200px;
}
.edui-colorpicker-padDot{
    position: absolute;
    top: 0;
    left: 0;
    width: 11px;
    height: 11px;
    overflow: hidden;
    background: url(../images/tangram-colorpicker.png) 0px -200px repeat-x;
    z-index: 1000;

}
.edui-colorpicker-sliderMain {
    position: absolute;
    left: 171px;
    top: 13px;
    width: 19px;
    height: 152px;
    background: url(../images/tangram-colorpicker.png) -179px -12px no-repeat;

}
.edui-colorpicker-slider {
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.edui-colorpicker-thumb{
    position: absolute;
    top: 0;
    cursor: pointer;
    height: 3px;
    left: -1px;
    right: -1px;
    border: 1px solid black;
    background: white;
    opacity: .8;
}
