/*UI工具栏、编辑区域、底部*/
.edui-default .edui-editor {
    border: 1px solid #e7e7eb;
    background-color: white;
    position: relative;
    overflow: visible;
}
.edui-editor div{
    width:auto;
    height:auto;
}
.edui-default .edui-editor-toolbarbox {
    position: relative;
    zoom: 1;
}

.edui-default .edui-editor-toolbarboxouter {
    border-bottom: 1px solid #E7E7EC;
    background-color: #fff;
    *zoom: 1;
}

.edui-default .edui-editor-toolbarboxinner {
    padding-bottom: 10px;
}

.edui-default .edui-editor-iframeholder {
    position: relative;
    right: 2px;
    /*for fix ie6 toolbarmsg under iframe bug. relative -> static */
    /*_position: static !important;*
}

.edui-default .edui-editor-iframeholder textarea {
    font-family: consolas, "Courier New", "lucida console", monospace;
    font-size: 12px;
    line-height: 18px;
}

.edui-default .edui-editor-bottombar {
    /*border-top: 1px solid #ccc;*/
    /*height: 20px;*/
    /*width: 40%;*/
    /*float: left;*/
    /*overflow: hidden;*/
}

.edui-default .edui-editor-bottomContainer {
    overflow: hidden;
}

.edui-default .edui-editor-bottomContainer table {
    width: 100%;
    height: 0;
    overflow: hidden;
    border-spacing: 0;
}

.edui-default .edui-editor-bottomContainer td {
    white-space: nowrap;
    border-top: 1px solid #ccc;
    line-height: 20px;
    font-size: 12px;
    font-family: Arial, Helvetica, Tahoma, Verdana, Sans-Serif;
}

.edui-default .edui-editor-wordcount {
    text-align: right;
    margin-right: 5px;
    color: #aaa;
}
.edui-default .edui-editor-scale {
    width: 12px;
}
.edui-default .edui-editor-scale .edui-editor-icon {
    float: right;
    width: 100%;
    height: 12px;
    margin-top: 10px;
    background: url(../images/scale.png) no-repeat;
    cursor: se-resize;
}
.edui-default .edui-editor-breadcrumb {
    margin: 2px 0 0 3px;
}

.edui-default .edui-editor-breadcrumb span {
    cursor: pointer;
    text-decoration: underline;
    color: blue;
}

.edui-default .edui-toolbar .edui-for-fullscreen {
    float: right;
}

.edui-default .edui-bubble .edui-popup-content {
    line-height: 15px;
    border: 1px solid #e8e7ec;
    background: #FFF;
    padding: 5px;
    padding-bottom: 10px;
    font-size: 10pt;
    font-family: "Helvitica Neue",Helvitica,Arial,"Hiragino Sans GB","Microsoft YaHei","Arial Regular",sans-serif;
}

.edui-default .edui-bubble .edui-shadow {
    /*box-shadow: 1px 1px 3px #818181;*/
    /*-webkit-box-shadow: 2px 2px 3px #818181;*/
    /*-moz-box-shadow: 2px 2px 3px #818181;*/
    /*filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius = '2', MakeShadow = 'true', ShadowOpacity = '0.5');*/
}

.edui-default .edui-editor-toolbarmsg {
    background-color: #FFF6D9;
    border-bottom: 1px solid #ccc;
    position: absolute;
    bottom: -25px;
    left: 0;
    z-index: 1009;
    width: 99.9%;
}

.edui-default .edui-editor-toolbarmsg-upload {
    font-size: 14px;
    color: blue;
    width: 100px;
    height: 16px;
    line-height: 16px;
    cursor: pointer;
    position: absolute;
    top: 5px;
    left: 350px;
}

.edui-default .edui-editor-toolbarmsg-label {
    font-size: 12px;
    line-height: 16px;
    padding: 4px;
}

.edui-default .edui-editor-toolbarmsg-close {
    float: right;
    width: 20px;
    height: 16px;
    line-height: 16px;
    cursor: pointer;
    color: red;
}

/* 自定义样式 */
.edui-default span.edui-clickable1 {
    background-position: 0px -8px;
}

.edui-default span.edui-clickable2 {
    background-position: -84px -7px;
}

.edui-default span.edui-clickable3 {
    background-position: -151px -7px;
}

.edui-default span.edui-clickable4 {
    background-position: -215px -7px;
}

.edui-default span.edui-clickable5 {
    background-position: -315px -7px;
}

.edui-default span.edui-clickable6 {
    background-position: -388px -7px;
}

.edui-default span.edui-clickable7 {
    background-position: -466px -7px;
}

.edui-default span.edui-clickable1:hover {
    background-position: 0 -48px;
}

.edui-default span.edui-clickable2:hover {
    background-position: -84px -47px;
}

.edui-default span.edui-clickable3:hover {
    background-position: -151px -47px;
}

.edui-default span.edui-clickable4:hover {
    background-position: -215px -47px;
}

.edui-default span.edui-clickable5:hover {
    background-position: -315px -47px;
}

.edui-default span.edui-clickable6:hover {
    background-position: -388px -47px;
}

.edui-default span.edui-clickable7:hover {
    background-position: -466px -47px;
}

.edui-default span.line {
    width: 8px;
    height: 20px;
    background: url('../images/tool.png')no-repeat -59px -3px;
}


.edui-default .nobr-input-style {
    width: 50px;
}

.edui-default .nobr-input {
    border: 1px solid #ddd!important;
    border-radius: 2px;
    padding: 4px 12px;
    box-shadow: none;
}

.edui-default span.nobr-icon-edit {
    background-position: -17px -97px;
}

.edui-default span.nobr-icon-edit-mask {
    background-position: -17px -77px;
}

.edui-default .nobr-img-auto-width {
    cursor: pointer;
    width: 124px;
    display: inline-block;
}

.edui-default .nobr-img-auto-width:hover .nobr-icon-edit {
    background-position: 3px -97px;
}

.edui-default .nobr-img-auto-width:hover .nobr-icon-edit-mask {
    background-position: 3px -77px;
}
